---
layout: base.njk
title: "About us"
permalink: "/about.html"
---
<section class="section" style="border-bottom:none;">
  <div class="container" style="max-width:70ch;">
    <h1 style="font-size:2rem; margin-bottom:24px;">About us</h1>
    <p>
      Moroccna Gaming Culture is not just a page it is a pack oftalented personal 
      gathered to only brings you the latest news and trusted reviews
    </p>
    <p>
      Authentic reviews
    </p>
    <p>
      [Social Media Links]
    </p>
  </div>
</section>
